<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FITENT</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js1.js"></script>
</head>



<body onload="d1()">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <i class="material-icons" style= color:#FFF9E9>fitness_center</i>
                <a class="navbar-brand" href="#">FITENT</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home-page.html">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="my_proggress.html">My Progress</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      My Training
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="squat.html">Squat</a></li>
                      <li><a class="dropdown-item" href="Deadlift.html">Deadlift</a></li>
                      <li><a class="dropdown-item" href="cardio.html">Cardio</a></li>
                      <li><a class="dropdown-item" href="mobility.html">Mobility</a></li>
                    </ul>
                  </li>
    
                </ul>
              </div>
            </div>
          </nav>
      </header>
      <div class="mytable" >
      <h1>
        Cardio & Fun
              <div class="Save">
        <button class="button button1" type="button">Save</button>
    </div>
      </h1>

      <table class="table table-bordered table-hover" id="myTable" >
        <thead>
          <tr style="background-color:bisque;">
            <th scope="col">Exercise</th>
            <th scope="col">Repetitions</th>
            <th scope="col">Comments</th>
            <th scope="col">Actual Weight </th>
            <th scope="col">Times</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color:#FFFFE0	;">
            <td  align = 'center' colspan="5" ><b>Warm up</b> </td>
          </tr>
          <tr>
            <th scope="row"><input type="text"  required value="Berfy"> </th>
            <th scope="row"><input type="text"  required value="20"> </th>
            <td><input type="text"   required value="if it's to hard - half Berfi"></td>

            <td><input type="number"  required></td>
            <td><input type="number"  required></td>
          </tr>
          <tr>
    
            <th scope="row"><input type="text"  required value="Mountain climber"> </th>
            <th scope="row"><input type="text"  required value="20"> </th>
            <td><input type="text"  required value=""></td>
        
            <td><input type="number"  required></td>
            <td><input type="number"  required></td>
          </tr>
          <tr>
            <th scope="row"><input type="text"  required5 value="Air squat"> </th>
            <th scope="row"><input type="text"  required value="20"> </th>
            <td><input type="text"  required5 value=""></td>
          <td><input type="number"  required></td>
          <td><input type="number"  required></td>
        </tr>
        </tr>
        <tr>
            <th scope="row"><input type="text"  required5 value="Ground to overhead"> </th>
            <th scope="row"><input type="text"  required value="20"> </th>
            <td><input type="text"  required value=""></td>
          <td><input type="number"  required></td>
          <td><input type="number"  required></td>
        </tr>
    </tr>
    <tr>
        <th scope="row"><input type="text"  required5 value="Sqapular pushups"> </th>
        <th scope="row"><input type="text"  required value="20"> </th>
        <td><input type="text"  required value=""></td>
      <td><input type="number"  required></td>
      <td><input type="number"  required></td>
    </tr>


        </tbody>

      </table>

    </div>


      <footer>
        <div class="fixed-bottom">
        <div class="row">
        <div class="column">
          <h4>Adress</h4>
          <p> Bnei Or 30 ,BEER SHEVA</p>
           
        </div>
        <div class="column">
          <h4>Contact</h4>
          <p>  0545634688<br />
            <a href="mailto:moriyafitent@gmail.com">moriyafitent@gmail.com</a>
            
          </p>
        </div>
        <div class="column">
          <div class=" map">
          <a class="nav-link" href="https://goo.gl/maps/L6XgZsw6pDpcib8D9"> 
            <img src="../imeges/map1.png" width="180" height="70" >
          </a>
          </div>
        </div>
       
      </div>
    </div>
      </footer>
  </body>
  
  </html>