doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title FITENT
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet')
  link(href='https://getbootstrap.com/docs/5.2/assets/css/docs.css' rel='stylesheet')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js')
body 
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      .container-fluid
        i.material-icons(style='color:#FFF9E9') fitness_center
        a.navbar-brand(href='#') FITENT
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item
              a.nav-link.active(aria-current='page' href='home-page') Home
            li.nav-item
              a.nav-link(href='my_proggress') My Progress
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | My Training
              ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                li
                  a.dropdown-item(href='squat' ) Squat
                li
                  a.dropdown-item(href='Deadlift') Deadlift
                li
                  a.dropdown-item(href='cardio') Cardio
                li
                  a.dropdown-item(href='mobility') Mobility
  .container
    .row
      .col
        h1 Today WORKOUT
      .col
        a(href='squat')
          .card.card1
            h5 SQUAT 
            p
        p
        a(href='mobility')
          .card.card2
            h5 Core &amp; Mobility
            p
      .col
        a(href='Deadlift')
          .card.card3
            h5 DEADLIFT
            p
        a(href='cardio')
          .card.card4
            h5 Cardio &amp; FUN
            p
  footer
    .fixed-bottom
      .row
        .column
          h4 Adress
          p  Bnei Or 30 ,BEER SHEVA
        .column
          h4 Contact
          p
            | 0545634688
            br
            a(href='mailto:moriyafitent@gmail.com') moriyafitent@gmail.com
        .column
          .map
            a.nav-link(href='https://goo.gl/maps/L6XgZsw6pDpcib8D9')
              img(src='../imeges/map1.png' width='180' height='70')
